.vs/ProjectEvaluation/cloudapplication.projects.v7.bin
.vs/ProjectEvaluation/cloudapplication.metadata.v7.bin
.vs/CloudApplication/v17/.suo
.vs/CloudApplication/v17/.futdcache.v2
.vs/CloudApplication/FileContentIndex/faad96c9-5bc1-4e1b-bd4c-38602e2d187a.vsidx
.vs/CloudApplication/FileContentIndex/c1b43ca7-211a-420a-90f8-873719886cf6.vsidx
.vs/CloudApplication/FileContentIndex/9a15e0dc-e202-48f6-8f36-304ca3d6888e.vsidx
.vs/CloudApplication/DesignTimeBuild/.dtbcache.v2
