*.vs/
*.bin
.vs/CloudApplication/DesignTimeBuild/.dtbcache.v2
.vs/CloudApplication/FileContentIndex/56b2699a-f2c3-41c0-8ca4-44a6fdc251de.vsidx
.vs/CloudApplication/v17/.futdcache.v2
.vs/CloudApplication/v17/.suo
.vs/CloudApplication/v17/DocumentLayout.json
.vs/ProjectEvaluation/cloudapplication.metadata.v7.bin
.vs/ProjectEvaluation/cloudapplication.projects.v7.bin
.vs/CloudApplication/FileContentIndex/56b2699a-f2c3-41c0-8ca4-44a6fdc251de.vsidx
obj/Debug/net8.0/refint/CloudApplication.dll
obj/Debug/net8.0/ref/CloudApplication.dll
obj/Debug/net8.0/CloudApplication.sourcelink.json
obj/Debug/net8.0/CloudApplication.pdb
obj/Debug/net8.0/CloudApplication.dll
obj/Debug/net8.0/CloudApplication.AssemblyInfoInputs.cache
obj/Debug/net8.0/CloudApplication.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
bin/Debug/net8.0/CloudApplication.pdb
bin/Debug/net8.0/CloudApplication.exe
bin/Debug/net8.0/CloudApplication.dll
.vs/ProjectEvaluation/cloudapplication.projects.v7.bin
.vs/ProjectEvaluation/cloudapplication.metadata.v7.bin
.vs/CloudApplication/v17/DocumentLayout.json
.vs/CloudApplication/v17/.suo
.vs/CloudApplication/v17/.futdcache.v2
.vs/CloudApplication/FileContentIndex/56b2699a-f2c3-41c0-8ca4-44a6fdc251de.vsidx
.vs/CloudApplication/DesignTimeBuild/.dtbcache.v2
.vs/CloudApplication/DesignTimeBuild/.dtbcache.v2
.vs/CloudApplication/FileContentIndex/56b2699a-f2c3-41c0-8ca4-44a6fdc251de.vsidx
