/.vs
.vs/ProjectEvaluation/cloudapplication.projects.v7.bin
.vs/ProjectEvaluation/cloudapplication.metadata.v7.bin
.vs/CloudApplication/v17/DocumentLayout.json
.vs/CloudApplication/v17/.suo
.vs/CloudApplication/v17/.futdcache.v2
.vs/CloudApplication/FileContentIndex/d02788b8-f87b-4a38-a683-6129e85423f1.vsidx
.vs/CloudApplication/FileContentIndex/cab4196a-7021-4686-abb9-fbad0066998a.vsidx
.vs/CloudApplication/FileContentIndex/333d77ff-5d4f-4926-8a40-20dbdb8c1da5.vsidx
