@{
	ViewData["Title"] = "About";
}
@* 
<h1>About</h1>
<p>Use this to tell customers about your company.</p>
<img src="/pictures/myimage.png" alt="My Image">
<a href="https://youtu.be/dQw4w9WgXcQ">Visit our homepage.</a>
 *@
<body>
	<form action="About" method="post">
		<input type="text" name="Name" placeholder="" required />
		<input type="text" name="Surname" placeholder="" required />
		<input type="text" name="Email" placeholder="" required />
		<button type="submit">Submit</button>
	</form>
</body>