@{
	ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<body>
	<!-- Display error message if it exists in TempData -->
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}
	<form asp-controller="User" asp-action="Login" method="post">
		<p>Please enter your first name and email:</p>
		<input type="text" name="name" placeholder="Name" required>
		<input type="text" name="email" placeholder="example@gmail.com" required>
		<button type="submit">Submit</button>
	</form>
	<p></p>
	<p>If you don't have an account <a href="https://localhost:7282/User/SignUp">Sign Up</a> for a new account.</p>
</body>
