@{
	ViewData["Title"] = "Login";
	var redirectReason = TempData["RedirectReason"] as string;

}

<h1>@ViewData["Title"]</h1>

<body>
	<!-- Display error message if it exists in TempData -->
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}
	else if (!string.IsNullOrEmpty(redirectReason))
	{
		<div class="alert alert-warning">@redirectReason</div>
	}
	<form asp-controller="User" asp-action="Login" method="post">
		<p>Please enter your first name and email:</p>
		<input type="text" name="name" placeholder="Name" required>
		<input type="password" name="password" placeholder="Password" required>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<p></p>
	<p>If you don't have an account <a href="https://localhost:7282/User/SignUp">Sign Up</a> for a new account.</p>
</body>
