@{
	ViewData["Title"] = "Sign Up";
}

<h1>@ViewData["Title"]</h1>

<body>
	<form asp-controller="User" asp-action="About" method="post">
		<p>Sign Up</p>
		<input type="text" name="Name" placeholder="Name" required />
		<input type="text" name="Surname" placeholder="Surname" required />
		<input type="text" name="Email" placeholder="Email" required />
		<button type="submit">Submit</button>
	</form>
</body>