@{
	ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Page for givining information as to what KhumaloCraft is, the kind of company they are and what they are striving ot achieve.</p>
<p>Jamie Parker - ST10257863</p>