@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This would be the landing page for the KhumaloCraft.</p>
    <p>Jamie Parker - ST10257863.</p>
</div>
