@{
	ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<p>Page to display the work of KhumaloCraft.</p>
<p>
	<img src="/pictures/WarhammerSale.png"
		 alt="My Image"
		 width="370"
		 height="385" />
</p>
<p>Professional painting and commissions. R150 p/h.</p>
<p>Jamie Parker - ST10257863</p>