<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sticky Navbar Example</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.sticky-top {
			position: sticky;
			top: 0;
			z-index: 1020;
		}

		.content {
			height: 2000px; /* For testing scroll */
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-white sticky-top">
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<a class="navbar-brand" href="#">Sticky Navbar</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="content">
		Scroll to see the sticky navbar in action.
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
