html {
    font-size: 14px;
}

:root {
    --text: #0b0b13;
    --background: #dfdddd;
    --primary: #4b4dbe;
    --secondary: #4e50ca;
    --accent: #4446da;
}

/*.btn-primary {
    color: white;
    background-color: var(--primary);
}

    .btn-primary:hover {
        color: white;
        background-color: var(--accent);
        border-color: var(--accent);
    }

.btn-secondary {
    color: white;
    background-color: dimgrey;
}

.btn-outline-success {
    color: var(--primary);
    border-color: var(--primary);
}

    .btn-outline-success:hover {
        color: var(--text);
        background-color: var(--primary);
        border-color: var(--primary);
    }

.btn-outline-danger {
    color: var(--accent);
    border-color: var(--accent);
}

    .btn-outline-danger:hover {
        color: var(--text);
        background-color: var(--accent);
        border-color: var(--accent);
    }
*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
